<div class="m-4 rounded bg-white shadow p-3">
    <h1>Waste Segregations</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem itaque quae. Sunt reiciendis, quam quisquam in illo officiis necessitatibus ad deserunt repellendus minima, aliquam officia placeat voluptates magnam nobis!</p>
</div>

<div class="m-4 rounded bg-white shadow p-3">
    <h1>How To Dispose?</h1>
    <h4>Step 1</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem itaque quae. Sunt reiciendis, quam quisquam in illo officiis necessitatibus ad deserunt repellendus minima, aliquam officia placeat voluptates magnam nobis!</p>
    <h4>Step 2</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem itaque quae. Sunt reiciendis, quam quisquam in illo officiis necessitatibus ad deserunt repellendus minima, aliquam officia placeat voluptates magnam nobis!</p>
    <h4>Step 3</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem itaque quae. Sunt reiciendis, quam quisquam in illo officiis necessitatibus ad deserunt repellendus minima, aliquam officia placeat voluptates magnam nobis!</p>
</div>

<div class="m-4 rounded bg-white shadow p-3">
    <h1>FAQs</h1>
    <h4>What is Something</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem itaque quae. Sunt reiciendis, quam quisquam in illo officiis necessitatibus ad deserunt repellendus minima, aliquam officia placeat voluptates magnam nobis!</p>
    <h4>What is Something</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem itaque quae. Sunt reiciendis, quam quisquam in illo officiis necessitatibus ad deserunt repellendus minima, aliquam officia placeat voluptates magnam nobis!</p>
    <h4>What is Something</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem itaque quae. Sunt reiciendis, quam quisquam in illo officiis necessitatibus ad deserunt repellendus minima, aliquam officia placeat voluptates magnam nobis!</p>
</div>