<div class="m-4 rounded bg-white shadow p-3">
    <h1><u>E-kiosk Automated and Innovative Waste Segregator</u></h1>
    <p>Is designed for San Sebastian College - Recoletos de Cavite which allows the innovative and effective way of sorting dry waste into three distinct categories such as metals, paper, and plastic.</p>
</div>

<div class="m-4 rounded bg-white shadow p-3">
    <h1><u>SET UP YOUR ACCOUNT NOW!</u> </h1>
    <h4>Step 1</h4>
    <p>Request an NFC card with TagId/UUID from assigned personel.</p>
    <h4>Step 2</h4>
    <p>Use TagId to enroll account in app settings.</p>
    <h4>Step 3</h4>
    <p>Verified account with enrolled TagId should have check in app settings.</p>
    <h4>Step 4</h4>
    <p>Use Tag to scan account after disposal of waste in machine.</p>
</div>

<div class="m-4 rounded bg-white shadow p-3">
    <h1><u>Waste Tpyes and Points</u></h1>
    <p>Metal: 0.05 points</p>
    <p>Plastic: 0.05 points</p>
    <p>Paper: 0.05 points</p>
</div>

<div class="m-4 rounded bg-white shadow p-3">
    <h1><u>Steps of using E-kiosk</u></h1>
    <h4>Step 1 - THROWING OF WASTE</h4>
    <p>The users are allow to throw only 3 (three) specific waste materials such as paper, plastic bottles, and tin can one at a time onto the chute.</p>
    <h4>Step 2 - QR CODE</h4>
    <p>Scan the QR code located on the upper right corner of the kiosk it will direct you to the application. your TagID using the NFC reader in your phone and it</p>
    <h4>Step 3 - ENROLL UUID</h4>
    <p>Open your gmail account and enroll your UUID provided to you and start earning points by throwing!</p>
    <h4>Step 4 - REDEEM OF POINTS</h4>
    <p>Redeem your points in you liking</p>
</div>

<div class="m-4 rounded bg-white shadow p-3">
    <h1>FAQs</h1>
    <h4>What is Reversed Vending Machine?</h4>
    <p>A high-effieciency recycling machine that allows indivuduals in the community to deposit single-use empty bottles in exchange for a monetary or non-monetary reward.</p>
    <h4>What materials can the machine accepts?</h4>
    <p>Empty drink containers including plastic bottles, cans, and papers.</p>
    <h4>What is the largest size of plastic bottle that will be accepted?</h4>
    <p>E-kiosk accepts empty containers up to 1.5 liters.</p>
</div>