<div class="m-4 rounded bg-white shadow p-3">
    <h1><u>Waste Segregations</u></h1>
    <p>Waste segregation is the sorting and separation of waste types to facilitate recycling and correct onward disposal. When waste is sorted correctly, it can save your company money. Waste segregation should be based on: The type of waste. The most appropriate treatment and disposal.</p>
</div>

<div class="m-4 rounded bg-white shadow p-3">
    <h1><u>Setup Account</u> </h1>
    <h4>Step 1</h4>
    <p>Request a Tag with TagId/UUID from project developers.</p>
    <h4>Step 2</h4>
    <p>Use TagId to enroll account in app settings.</p>
    <h4>Step 3</h4>
    <p>Verified account with enrolled TagId should have check in app settings.</p>
    <h4>Step 4</h4>
    <p>Use Tag to scan account after disposal of waste in machine</p>
</div>

<div class="m-4 rounded bg-white shadow p-3">
    <h1><u>Waste Tpyes and Points</u></h1>
    <p>Metal: 0.25 points</p>
    <p>Plastic: 0.15 points</p>
    <p>Paper: 0.05 points</p>
</div>

<div class="m-4 rounded bg-white shadow p-3">
    <h1><u>Steps to dispose waste</u></h1>
    <h4>What is Something?</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem itaque quae. Sunt reiciendis, quam quisquam in illo officiis necessitatibus ad deserunt repellendus minima, aliquam officia placeat voluptates magnam nobis!</p>
    <h4>How to Something?</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem itaque quae. Sunt reiciendis, quam quisquam in illo officiis necessitatibus ad deserunt repellendus minima, aliquam officia placeat voluptates magnam nobis!</p>
    <h4>When is Something?</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem itaque quae. Sunt reiciendis, quam quisquam in illo officiis necessitatibus ad deserunt repellendus minima, aliquam officia placeat voluptates magnam nobis!</p>
</div>

<div class="m-4 rounded bg-white shadow p-3">
    <h1>FAQs</h1>
    <h4>What is Something?</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem itaque quae. Sunt reiciendis, quam quisquam in illo officiis necessitatibus ad deserunt repellendus minima, aliquam officia placeat voluptates magnam nobis!</p>
    <h4>How to Something?</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem itaque quae. Sunt reiciendis, quam quisquam in illo officiis necessitatibus ad deserunt repellendus minima, aliquam officia placeat voluptates magnam nobis!</p>
    <h4>When is Something?</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem itaque quae. Sunt reiciendis, quam quisquam in illo officiis necessitatibus ad deserunt repellendus minima, aliquam officia placeat voluptates magnam nobis!</p>
</div>