h1 {
    font-size: 60px;
    overflow: hidden;
    color: #006C4C;
}

.redeemPoints {
    color: #006C4C;
    font-weight: bold;
}

.redeemDates {
    font-weight: bold;
}

.history-item {
    border: none;
    width: 100%;
}