<div class="rounded bg-white m-4 text-center p-4 shadow">
    <h1>99999.99</h1>
    <button class="btn btn-success">Redeem</button>
</div>

<div class="m-4">
    <div class="rounded bg-white mb-2 text-center p-2 shadow"> 
        <div class="d-flex justify-content-between px-2">
            <span class="redeemPoints">20 Points</span>
            <span class="redeemDates">Jan 20 2023 10:20 PM</span>
        </div>
    </div>
    <div class="rounded bg-white mb-2 text-center p-2 shadow"> 
        <div class="d-flex justify-content-between px-2">
            <span class="redeemPoints">20 Points</span>
            <span class="redeemDates">Jan 20 2023 10:20 PM</span>
        </div>
    </div>
    <div class="rounded bg-white mb-2 text-center p-2 shadow"> 
        <div class="d-flex justify-content-between px-2">
            <span class="redeemPoints">20 Points</span>
            <span class="redeemDates">Jan 20 2023 10:20 PM</span>
        </div>
    </div>
    <div class="rounded bg-white mb-2 text-center p-2 shadow"> 
        <div class="d-flex justify-content-between px-2">
            <span class="redeemPoints">20 Points</span>
            <span class="redeemDates">Jan 20 2023 10:20 PM</span>
        </div>
    </div>
    <div class="rounded bg-white mb-2 text-center p-2 shadow"> 
        <div class="d-flex justify-content-between px-2">
            <span class="redeemPoints">20 Points</span>
            <span class="redeemDates">Jan 20 2023 10:20 PM</span>
        </div>
    </div>
    <div class="rounded bg-white mb-2 text-center p-2 shadow"> 
        <div class="d-flex justify-content-between px-2">
            <span class="redeemPoints">20 Points</span>
            <span class="redeemDates">Jan 20 2023 10:20 PM</span>
        </div>
    </div>
    <div class="rounded bg-white mb-2 text-center p-2 shadow"> 
        <div class="d-flex justify-content-between px-2">
            <span class="redeemPoints">20 Points</span>
            <span class="redeemDates">Jan 20 2023 10:20 PM</span>
        </div>
    </div>
</div>