<div class="rounded bg-white m-4 text-center p-4 shadow">
    <div>
        <h1 style="font-size: 60px;"><i class="bi bi-cash-coin"></i></h1>
        <h2 style="font-size: 40px;">{{(user ? user.rewardBalance : 0) | currency:'PHP':'symbol'}}</h2>
    </div>
    <hr class="text-success">
    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Redeem</button>
</div>

<div style="overflow: scroll; height: 500px;">
    <ng-container *ngIf="redeems && redeems.length > 0; else noredeems">
        <ng-container *ngFor="let redeem of redeems">
            <div class="m-2 mx-4">
                <div class="rounded bg-white p-2 shadow"> 
                    <div class="d-flex justify-content-between px-2">
                        <div>
                            <span class="d-block redeemPoints">{{redeem.amount | currency:'PHP':'symbol'}}</span>
                            <span class="d-block redeemDates">{{redeem.createdAt | date : 'medium' }}</span>
                            <span class="d-block">{{redeem.description}}</span>
                        </div>
                        <div>
                            <qrcode [qrdata]="'{{redeem._id}}'" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>

<ng-template #noredeems>
    <div class="m-2 mx-4">
        <div class="rounded bg-white text-center p-2 shadow">
            <h1>No Redeems</h1>
        </div>
    </div>        
</ng-template>

<!-- Modal -->
<ng-container *ngIf="user">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="text-center modal-title fs-5" id="staticBackdropLabel">Enter Amount</h1>
            </div>
            <div class="modal-body p-0">
                <form novalidate (ngSubmit)="submitForm()" [formGroup]="redeemForm" class="my-4 px-4">
                    <div class="form-group my-2">
                        <input 
                            type="number" 
                            class="mt-2 form-control is-invalid text-success text-center"
                            style="font-size: 40px;"
                            id="amount" 
                            formControlName="amount"
                            [ngClass]="{'is-invalid': (redeemForm.get('amount')?.touched ||
                                                        redeemForm.get('amount')?.dirty) &&
                                                        !redeemForm.get('amount')?.valid}">
                        <span class="invalid-feedback text-center">
                            <span *ngIf="redeemForm.get('amount')?.errors?.['required']">
                                Amount is Required.
                            </span>
                            <span *ngIf="redeemForm.get('amount')?.errors?.['min']">
                                Min value to redeem is 1.
                            </span>
                            <span *ngIf="redeemForm.get('amount')?.errors?.['max']">
                                Insufficient reward balance.
                            </span>
                        </span>
                    </div>
                    <div class="form-group my-2">
                        <input 
                            type="text" 
                            class="mt-2 form-control is-invalid text-success text-center"
                            id="description"
                            placeholder="Short description"
                            formControlName="description"
                            [ngClass]="{'is-invalid': (redeemForm.get('description')?.touched ||
                                                        redeemForm.get('description')?.dirty) &&
                                                        !redeemForm.get('description')?.valid}">
                        <span class="invalid-feedback text-center">
                            <span *ngIf="redeemForm.get('description')?.errors?.['required']">
                                Description is Required.
                            </span>
                            <span *ngIf="redeemForm.get('description')?.errors?.['minlength']">
                                Min characters is 5.
                            </span>
                            <span *ngIf="redeemForm.get('description')?.errors?.['maxlength']">
                                Max characters is 50.
                            </span>
                        </span>
                    </div>
                    <hr>
                    <div class="modal-footer p-0">
                        <button type="submit" [disabled]="!redeemForm.valid || !redeemForm.dirty" class="btn btn-success w-100" data-bs-dismiss="modal">Redeem</button>
                        <button type="button" class="btn btn-outline-secondary w-100" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
            
        </div>
        </div>
    </div>
</ng-container>