<div class="rounded bg-white mx-2 my-4 p-2 shadow"> 
    <div class="d-flex justify-content-between px-2">
        <span class="redeemPoints">95 Points</span>
        <span>Jan 20 2023</span>
    </div>
    <hr>
    <div class="px-2">
        <div class="d-flex justify-content-between text-center">
            <h6 class="redeemPoints">Points</h6>
            <h6 class="redeemPoints">Piece/s</h6>
            <h6 class="redeemPoints">Type</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6>60</h6>
            <h6>12</h6>
            <h6>Metal</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6>30</h6>
            <h6>10</h6>
            <h6>Plastic</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6>5</h6>
            <h6>5</h6>
            <h6>Paper</h6>
        </div>
    </div>
</div>

<div class="rounded bg-white mx-2 my-4 p-2 shadow"> 
    <div class="d-flex justify-content-between px-2">
        <span class="redeemPoints">95 Points</span>
        <span>Jan 20 2023</span>
    </div>
    <hr>
    <div class="px-2">
        <div class="d-flex justify-content-between text-center">
            <h6 class="redeemPoints">Points</h6>
            <h6 class="redeemPoints">Piece/s</h6>
            <h6 class="redeemPoints">Type</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6>60</h6>
            <h6>12</h6>
            <h6>Metal</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6>30</h6>
            <h6>10</h6>
            <h6>Plastic</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6>5</h6>
            <h6>5</h6>
            <h6>Paper</h6>
        </div>
    </div>
</div>