<ng-container *ngIf="(transactions && transactions.length > 0); else notransactions">
    <div class="my-4 mx-2 bg-white">
        <table class="table table-striped">
            <thead>
              <tr class="text-success text-center">
                <th scope="col">Points</th>
                <th scope="col">Metal</th>
                <th scope="col">Plastic</th>
                <th scope="col">Paper</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let transaction of transactions">
                    <td>{{((transaction.metal * .25)+(transaction.plastic * .15)+(transaction.paper * .05)) | currency:'PHP':'symbol'}}</td>
                    <td>{{transaction.metal}}</td>
                    <td>{{transaction.plastic}}</td>
                    <td>{{transaction.paper}}</td>
                    <td>{{transaction.createdAt | date: 'medium'}}</td>
                  </tr>
            </tbody>
          </table>
    </div>
</ng-container>
<ng-template #notransactions>
    <div class="m-2 mx-4">
        <div class="rounded bg-white text-center p-2 shadow">
            <h1 class="text-success">No Transactions</h1>
        </div>
    </div>   
</ng-template>