<div class="m-4">
    <div class="my-4">
        <div class="shadow">
            <div class="py-4 px-2 bg-white rounded-top">
                <h1 class="py-2 text-center m-0 te">423</h1>
            </div>
            <div class="p-2 bg-success rounded-bottom">
                <h6 class="text-light text-center m-0 te">Metals</h6>
            </div>
        </div>
    </div>
    <div class="my-4">
        <div class="shadow">
            <div class="py-4 px-2 bg-white rounded-top">
                <h1 class="py-2 text-center m-0 te">231</h1>
            </div>
            <div class="p-2 bg-dark rounded-bottom">
                <h6 class="text-light text-center m-0 te">Plastics</h6>
            </div>
        </div>
    </div>
    <div class="my-4">
        <div class="shadow">
            <div class="py-4 px-2 bg-white rounded-top">
                <h1 class="py-2 text-center m-0 te">231</h1>
            </div>
            <div class="p-2 bg-danger rounded-bottom">
                <h6 class="text-light text-center m-0 te">Papers</h6>
            </div>
        </div>
    </div>
</div>
